 <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="{% url 'home' %}">Kali<span> De </span>Monekey</a></div>
            <ul class="menu">
                <li><a href="#home" class="menu-btn">Home</a></li>
                <li><a href="#category" class="menu-btn">Project</a></li>
                <li><a href="#about" class="menu-btn">About</a></li>

                {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}" class="menu-btn">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}" class="menu-btn">Login</a></li>
                <li><a href="{% url 'register' %}" class="menu-btn">Register</a></li>
                {% endif %}

            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>